doctype html
html
  head
    title PDFjs Example
  body

    ul
      li
        a(
        href='./demo/helloworld/'
        )
          h3 helloworld
      li
        a(
        href='./demo/learning/helloworld.html'
        )
          h3 learning helloworld
      li
        a(
        href='./demo/learning/helloworld64.html'
        )
          h3 learning helloworld base64
      li
        a(
        href='./demo/learning/prevnext.html'
        )
          h3 learning helloworld with prevnext
      li
        a(
        href='./demo/acroforms/'
        )
          h3 acroforms
      li
        a(
        href='./demo/components-pageviewer/'
        )
          h3 components pageviewer
      li
        a(
        href='./demo/components-simpleviewer/'
        )
          h3 components simpleviewer
      li
        a(
        href='./demo/svgviewer/'
        )
          h3 svgviewer
      li
        a(
        href='./demo/text-only/'
        )
          h3 text-only
